/*
webfont
font-family: 'Permanent Marker', cursive;
*/


body {
    position: relative;
    height: 100%;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}
article {
    min-height: 100vh;
    position: relative;
}




@media(min-width:768px){

    #inicio .container{
    position: absolute;
    bottom:0;
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
    
}

h1{
    margin-top: 0;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.mySlider h4{
    color: white;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1);
    text-align: center;
    font-size: 2.1em
}
.mySlider small{
    display: block;
    color: rgba(220,220,220,0.85);
    font-style: italic;
    font-weight: bold;
    text-align: right;
    text-shadow: none;
}

#gokuFace{
	display:none;
}

#inicio {
    padding-top: 80px;
	background-image: url("../imgs/inicio_wallpaper_edit.jpg");
    background-size: cover;
}

#sobreMim {
    background-image: url("../imgs/sobreMim_candidate.jpg");
    background-size: cover;
    font-size: 1.4em;
}

@media(min-width:768px){

    #sobreMim .row{
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count:    2; /* Firefox */
        column-count:         2;
        -webkit-column-gap:   20px; /* Chrome, Safari, Opera */ 
        -moz-column-gap:      20px; /* Firefox */
        column-gap:           20px;
    }
    
}
#sobreMim .row{
    column-rule-color: #ccc; /* Optional */
        column-rule-style:solid; /* Optional */
        column-rule-width: 1px; /* Optional */
        text-align: justify; /* Optional */
}

#projetos {
	background-image: url("../imgs/projetos_wallpaper.jpg");
    background-size: cover;
}

#projetos .thumbnail img{
    width: 100%;
    height: 90%;
}
#projetos .thumbnail{
    overflow: hidden;
    height: 300px
}

#curriculo {
    background-image: url("../imgs/curriculo_wallpaper_alt.jpg");
    background-size: cover;
    text-shadow: 0 0 1px rgba(255,255,255,1) ;
}
#curriculo p{
    text-align: center;
}

#contato {
    background-image: url("../imgs/contato_wallpaper_edit.jpg");
    background-size: cover;
}

#contato #mapDiv{
    height: 350px;
}

#socialMedias{
    list-style: none;
}

#socialMedias .fa{
    text-decoration: none;
    overflow: hidden;
    font-size: 1.5em;
    color:ghostwhite;
    background-color: dimgray;
    padding: 9px;
    padding-left: 12px;
    width: 40px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius:7px;
    /*Transition*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

#socialMedias .fa:before{
    padding-right: 20px;
}

#socialMedias .fa:hover{
    width: 160px;
}

#socialMedias #facebookLink:hover{
    background-color: #3b5998;
}

#socialMedias #twitterLink:hover{
    color: #55acee;
    background-color: ghostwhite;
}

#socialMedias #googlePlusLink:hover{
    color: #dd4b39;
    background-color: ghostwhite;
}

#socialMedias #pinterestLink:hover{
    color: #cc2127;
    background-color: ghostwhite;
}

#socialMedias #linkedInLink:hover{
    color: white;
    background-color: #0976b4;
}

.overlay{
   background-color: #000;
   opacity: .7;
   filter: alpha(opacity=70);
   position: fixed; top: 0; left: 0;
   width: 100vw; height: 100vh;
   z-index: 10;
}

.overlayImg{
    width: 80vw;
    height: 80vh;
    position: fixed;
    z-index: 11;
    left: 10vw;
    top: 10vh;
    background-color: white;
}

.chart{
    min-height: 40vh;
    min-width: 40vw;
}

#weatherNow{
    background-color: azure;
}